### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [434]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
hop = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
hop = pd.read_csv(file_to_load)

#Initial syntax used to find total player count...
num_of_players = hop.count()["SN"]
num_of_players

hop.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [435]:
# Verifying actual number of players by only counting unique
sn_unique = (hop["SN"].unique())
sn_unique_count = hop.count()[sn_unique]
sn_unique_count

Lisim78         NaN
Lisovynya38     NaN
Ithergue48      NaN
Chamassasya86   NaN
Iskosia90       NaN
                 ..
Hala31          NaN
Jiskjask80      NaN
Aethedru70      NaN
Yathecal72      NaN
Sisur91         NaN
Length: 576, dtype: float64

In [436]:
# Display total player count
player_count = [{"Total Players": "576"}]
player_count = pd.DataFrame(player_count)
player_count

  Total Players
0           576

In [437]:
# Unique Item Count
unique_itemname = (hop["Item Name"].unique())
unique_itemname_count = hop.count()[unique_itemname]
unique_itemname_count

Extraction, Quickblade Of Trembling Hands   NaN
Frenzied Scimitar                           NaN
Final Critic                                NaN
Blindscythe                                 NaN
Fury                                        NaN
                                             ..
Alpha, Reach of Ending Hope                 NaN
Alpha                                       NaN
Betrayer                                    NaN
Winterthorn, Defender of Shifting Worlds    NaN
Gladiator's Glaive                          NaN
Length: 179, dtype: float64

In [438]:
# Average Price
average_price = (hop["Price"].mean())
average_price

3.050987179487176

In [439]:
# Number of Purchases
num_of_purchases = (hop["Price"]).count()
num_of_purchases

780

In [440]:
# Total of Purchases
total_purchases = (hop["Price"]).sum()
total_purchases

2379.77

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [441]:
purchasing_analysis = [{"Number of Unique Items": "179",
                        "Average Price": average_price,
                        "Number of Purchases": num_of_purchases,
                        "Total Revenue": total_purchases}]
purchasing_analysis = pd.DataFrame(purchasing_analysis)
purchasing_analysis

  Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                    179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [442]:
gender_total = hop["Gender"].value_counts()
gender_total

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [443]:
# Generate counts of each gender
gender_total = hop["Gender"].value_counts()
gender_total
male_count = "652"
female_count = "113"
other_count = "15"

In [444]:
# Generate total
gender_count = hop["Gender"]
len(gender_count)

780

In [445]:
gender = hop[["Gender"]]
only_female = hop.loc[hop["Gender"] == "Female", :]
only_male = hop.loc[hop["Gender"] == "Male", :]
other = hop.loc[hop["Gender"] == "Other / Non-Disclosed", :]

female_percent = 113/780 * 100
male_percent = 652/780 * 100
other_percent = 15/780 * 100

gender_demo = [{
                "Total Number of Male Players":male_count,
                "Total Percentage of Male Players":male_percent,
                "Total Amount of Female Players":"113",
                "Total Percentage of Female Players":female_percent,
                "Total Number of Other/Non-Disclosed":other_count, 
                "Total Percentage of Other/Non-Disclosed": other_percent}]
gender_demo = pd.DataFrame(gender_demo)
gender_demo

,Total Number of Male Players,Total Percentage of Male Players,Total Amount of Female Players,Total Percentage of Female Players,Total Number of Other/Non-Disclosed,Total Percentage of Other/Non-Disclosed
0,652,83.589744,113,14.487179,15,1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [540]:
#Female If Statements
female_purchase_amount = hop.loc[hop['Gender'] == 'Female','Price'] 
total_female = len(female_purchase_amount)

female_purchase_amount = hop.loc[hop['Gender'] == 'Female','Price'] 
total_amount_f = sum(female_purchase_amount)
total_amount_f = round(total_amount_f)

female_purchase_amount = hop.loc[hop['Gender'] == 'Female','Price'] 
female_mean = female_purchase_amount.mean()
female_mean = round(female_mean, 2)

#Male If Statement
male_purchase_amount = hop.loc[hop['Gender'] == 'Male','Price'] 
total_male = len(male_purchase_amount)

male_purchase_amount = hop.loc[hop['Gender'] == 'Male','Price'] 
total_amount_m = sum(male_purchase_amount)
total_amount_m = round(total_amount_m)

male_purchase_amount_amount = hop.loc[hop['Gender'] == 'Male','Price'] 
male_mean = male_purchase_amount.mean()
male_mean = round(male_mean, 2)

#Other/Non-Disclosed
other_purchase_amount = hop.loc[hop['Gender'] == 'Other / Non-Disclosed','Price'] 
total_other = len(other_purchase_amount)

other_purchase_amount = hop.loc[hop['Gender'] == 'Other / Non-Disclosed','Price'] 
total_amount_o = sum(other_purchase_amount)
total_amount_o = round(total_amount_o)

other_purchase_amount_amount = hop.loc[hop['Gender'] == 'Other / Non-Disclosed','Price'] 
other_mean = other_purchase_amount.mean()
other_mean = round(other_mean, 2)

In [543]:
male_purchase_amount = hop.loc[hop['Gender'] == 'Male','Price'] 
total_amount_m = sum(male_purchase_amount)
total_amount_m = round(total_amount_m)
total_amount_m

1968

In [471]:
##Grouped By Gender
grouped_df = hop.groupby("Gender" )
grouped_df
test = grouped_df.count()
test

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [577]:
#Male Analysis Dictionary
male_purch_analysis = [{"Gender": "Male",
                          "Total Purchase Count": total_male, 
                          "Average Purchase Price": male_mean, 
                          "Total Purchase Value": total_amount_m}]
male_purch_analysis = pd.DataFrame(male_purch_analysis)
male_purch_analysis

#Female Analysis Dictionary
female_purch_analysis = [{"Gender": "Female",
                          "Total Purchase Count": total_female, 
                          "Average Purchase Price": female_mean, 
                          "Total Purchase Value": total_amount_f}]
female_purch_analysis = pd.DataFrame(female_purch_analysis)
female_purch_analysis

other_purch_analysis = [{"Gender": "Other / Non-Disclosed",
                          "Total Purchase Count": total_female, 
                          "Average Purchase Price": female_mean, 
                          "Total Purchase Value": total_amount_f}]
other_purch_analysis = pd.DataFrame(other_purch_analysis)
other_purch_analysis

,Gender,Total Purchase Count,Average Purchase Price,Total Purchase Value
0,Other / Non-Disclosed,113,3.2,362

In [579]:
#Indexes
index_test_m = male_purch_analysis.set_index("Gender")
index_test_m

index_test_f = female_purch_analysis.set_index("Gender")
index_test_f

index_test_o = other_purch_analysis.set_index("Gender")
index_test_o

merged_mf = pd.concat([index_test_f, index_test_m])
merged_mf

# Final Gender Analysis
final_analysis = pd.concat([merged_mf, index_test_o])
final_analysis

,Total Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.20,362
Male,652,3.02,1968
Other / Non-Disclosed,113,3.20,362

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80